<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>698491646323-ogf0g4rlm05fm5o6b2292ubb62koqi8r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.698491646323-ogf0g4rlm05fm5o6b2292ubb62koqi8r</string>
	<key>API_KEY</key>
	<string>AIzaSyCPI3pupgAAzpJMqcDSDmcdfMdRNcpF4kU</string>
	<key>GCM_SENDER_ID</key>
	<string>698491646323</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.gatech.nrios8.swiftui-tutorial</string>
	<key>PROJECT_ID</key>
	<string>swiftui-tutorial-298a6</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftui-tutorial-298a6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:698491646323:ios:1dfe89d7ac158ae2141506</string>
</dict>
</plist>