<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>629103804293-cln8pmui5os7ebijc3cgnngqv5dsf0o6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.629103804293-cln8pmui5os7ebijc3cgnngqv5dsf0o6</string>
	<key>API_KEY</key>
	<string>AIzaSyCWEJ7Wkui1Z_3vVa13_396bkT1z6FE9bw</string>
	<key>GCM_SENDER_ID</key>
	<string>629103804293</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.gatech.nrios8.swiftui-tutorial</string>
	<key>PROJECT_ID</key>
	<string>notesapp-511b4</string>
	<key>STORAGE_BUCKET</key>
	<string>notesapp-511b4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:629103804293:ios:5c7c1d9839ec3e271bceec</string>
</dict>
</plist>